<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Bienvenido a nuestra tienda</h1>
<a th:href="@{/producto}">
    <button type="button">Ver Lista de Productos</button>
</a>
<a th:href="@{/login}">
    <button type="button">Inicia sesión</button>
</a>
<a th:href="@{/usuario/create}">
    <button type="button">Registrate</button>
</a>
<a th:href="@{/order/pedido}">
    <button type="button">Realiza un Pedido</button>
</a>
</body>
</html>