<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Productos</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imágen</th>
        <th>IdMunicipio</th>
        <th>Stock</th>
    </tr>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.productId}"></td>
        <td th:text="${producto.productName}"></td>
        <td th:text="${producto.productPrice}"></td>
        <td th:text="${producto.productPicture}"></td>
        <td th:text="${producto.idMunicipio}"></td>
        <td th:text="${producto.productStock}"></td>
    </tr>
</table>
<a th:href="@{/inicio}">
    <button type="button">Volver a la página de inicio</button>
</a>
<a th:href="@{/create}">
    <button type="button">Crea un producto</button>
</a>

<h1>¿Quiere eliminar un producto? seleccione uno</h1>
<form action="#" th:action="@{/producto/delete}" method="post">
    <select name="productId">
        <option th:each="producto : ${productos}" th:value="${producto.productId}" th:text="${producto.productName}"></option>
    </select>
    <input type="submit" value="Eliminar Producto">
</form>
</body>
</html>